<div class="page-container">
  <div class="right">
    <mat-form-field class="right">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filtro de nombre">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">

    

    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="first-col">
            @if(element.images && element.images.xs){
              <div><img [src]="element.images.xs" alt="Avatar"></div>
            }@else{
              <div><img src="../../../assets/img/avatar-xs.png" alt="Avatar"></div>
            }
            <div>{{element.name | titlecase }}</div>
          </div>
        </td>
      </ng-container>
  
      <!-- intelligence Column -->
      <ng-container matColumnDef="intelligence">
        <th mat-header-cell *matHeaderCellDef> Inteligencia </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.powerstats.intelligence}}
        </td>
      </ng-container>
  
      <!-- strength Column -->
      <ng-container matColumnDef="strength">
        <th mat-header-cell *matHeaderCellDef> Fuerza </th>
        <td mat-cell *matCellDef="let element"> {{element.powerstats.strength}} </td>
      </ng-container>
  
      <!-- speed Column -->
      <ng-container matColumnDef="speed">
        <th mat-header-cell *matHeaderCellDef> Velocidad </th>
        <td mat-cell *matCellDef="let element"> {{element.powerstats.speed}} </td>
      </ng-container>
  
  
      <!-- durability Column -->
      <ng-container matColumnDef="durability">
        <th mat-header-cell *matHeaderCellDef> Durabilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.powerstats.durability}} </td>
      </ng-container>
  
      <!-- power Column -->
      <ng-container matColumnDef="power">
        <th mat-header-cell *matHeaderCellDef> Poder </th>
        <td mat-cell *matCellDef="let element"> {{element.powerstats.power}} </td>
      </ng-container>
  
      <!-- combat Column -->
      <ng-container matColumnDef="combat">
        <th mat-header-cell *matHeaderCellDef> Combate </th>
        <td mat-cell *matCellDef="let element"> {{element.powerstats.combat}} </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="last-col">
            
            <mat-icon class="pointer" (click)="onEditHero(element)">edit</mat-icon>
            <mat-icon class="pointer" (click)="onDeleteHero(element.id)">delete</mat-icon>
          </div>
        </td>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                   showFirstLastButtons
                   aria-label="Elige página de superhéroes">
    </mat-paginator>
  </div>
  
</div>