.page-container {
    padding: 45px;
}

th, td {
  text-align: center;
}

.first-col {
    display: flex;
    flex-direction: row;
    text-align: left !important;
    gap: 25px;
    align-items: center;
}

.last-col {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

.mat-mdc-row {
  height: 70px !important;
}
