.page-container {
    padding: 45px;
}

th, td {
  text-align: center;
}

.first-col {
    display: flex;
    flex-direction: row;
    text-align: left !important;
    align-items: center;
    gap: 25px;
    
}
