<mat-toolbar class="mat-elevation-z3">
    <div class="toolbar-container">
        <div class="box">
            <button mat-icon-button (click)="toggleMenu()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="box center">
            <img src="../assets/img/logo.png" height="100px" alt="logo">
        </div>
        <div class="box">
            
        </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
  
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth">
      <app-sidebar></app-sidebar>
  </mat-sidenav>
      
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth">
      <router-outlet></router-outlet>
  </mat-sidenav-content>

  </mat-sidenav-container>
  <app-loading></app-loading>