mat-toolbar {
    position: relative;
    z-index: 5;
    height: 100px
}

.toolbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

  }

mat-sidenav-container {
    height: calc(100vh - 100px);
}

mat-sidenav, mat-sidenav-content {
    transition: all 500ms ease-in-out;
}