@if( loading$ | async ){

    <div class="spinner-container">

        <mat-spinner></mat-spinner>
    
    </div>

}

<h1>LOADING: {{loading$ | async}}</h1>

<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>
<h1>LOADING: {{loading$ | async}}</h1>